@font-face {
  font-family: "toutiao";
  /* Project id 3897375 */
  src: url('//at.alicdn.com/t/c/font_3897375_4v57pb1775b.woff2?t=1676445461297') format('woff2'), url('//at.alicdn.com/t/c/font_3897375_4v57pb1775b.woff?t=1676445461297') format('woff'), url('//at.alicdn.com/t/c/font_3897375_4v57pb1775b.ttf?t=1676445461297') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wuwangluo:before {
  content: "\e608";
}
.icon-dianzan:before {
  content: "\e609";
}
.icon-guanbi:before {
  content: "\e60a";
}
.icon-fenxiang:before {
  content: "\e60b";
}
.icon-lishi:before {
  content: "\e60c";
}
.icon-dianzan2:before {
  content: "\e60d";
}
.icon-pinglun:before {
  content: "\e60e";
}
.icon-shanchu:before {
  content: "\e60f";
}
.icon-gengduo:before {
  content: "\e610";
}
.icon-yanzhengma:before {
  content: "\e611";
}
.icon-wode:before {
  content: "\e612";
}
.icon-wenda:before {
  content: "\e613";
}
.icon-sousuo:before {
  content: "\e614";
}
.icon-wuwangluo1:before {
  content: "\e615";
}
.icon-shouji:before {
  content: "\e616";
}
.icon-shipin:before {
  content: "\e617";
}
.icon-shoucang:before {
  content: "\e618";
}
.icon-shouye:before {
  content: "\e619";
}
.icon-zuopin:before {
  content: "\e61a";
}
.icon-zuojiantou:before {
  content: "\e61b";
}
.icon-yuedu:before {
  content: "\e61c";
}
.icon-youjiantou:before {
  content: "\e61d";
}
